/* palette of colors and fonts */
:root {
--primary-cyan: #64C7CC;
--primary-magenta: #e6739f;
--primary-green: #7ea04d;

--light-cyan: ;
--light-magenta: #E1BBCA;
--light-green: ;
--light-grey: ;
}

.card {
    height: 250px;
    width: 200px;
    border-radius: 10% / 20%;
    border-color: black;
}


.btn-card {
    background-color: white;
    border: solid black 0.5px !important;
    color: black;
    margin: 1%;
}

.btn-card:hover {
    background-color: black;
    color: white !important;
}

#game-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1%
}

#response {
    font-size: 50px;
    text-align: center;
    color: #f69065;
}

.btn {
    margin: 1%;
}
