.card {
    height: 250px;
    width: 200px;
    
    border-color: black;
}

.cyan {
    border-color: #64C7CC;
}
.magenta {
    border-color: #e6739f;
}
.green {
    border-color: #7ea04d;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid;
}
.hexagon {
    width: 100px;
    height: 100px;
}
.oval {
    width: 100px;
    height: 50px;
    border-radius: 50% / 50% ;
    border-style: solid;
}

/* .egg {
    display: block;
    width: 126px;
    height: 180px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
} */

/* TODO this creates a grid, the idea 
   is to use the names of the three areas
   and place the shapes according to the 
   amount property of the card */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "first"
      "second"
      "third";
  }
  .first { grid-area: first; }
  .second { grid-area: second; }
  .third { grid-area: third; }